:root {
    --color : #3e454d;
}

html, body, #app, #app > div {
    height : 100%;
}

/**
    buttons
*/
button {
    width         : 60px;
    margin-right  : 10px;
    padding       : 5px;
    border        : none;
    border-radius : 2px;
    background    : #5e6771;
    color         : #fff;
    cursor        : pointer;
}

button:active {
    background-color : var(--color);
}

button.prepare {
    background-color : #00aeef;
}

button.disabled {
    background-color : #ccc;
}

button.danger {
    background-color : #ff7d7e;
}

/**
    Header
*/
.toolbar {
    font-size   : 14px;
    line-height : 36px;
    color       : #fff;
}

.operate {
    padding : 10px 20px;
}

.operate span {
    color : var(--color);
}

.info {
    padding-left     : 20px;
    background-color : var(--color);
}

/**
    URL Area
*/
.url-area {
    height   : 80%;
    margin   : 10px;
    padding  : 5px;
    overflow : scroll;
    border   : 1px solid;
}

.url.item {
    margin-bottom : 5px;
    height        : 40px;
    line-height   : 40px;
    font-size     : 16px;
}

.url.item:nth-child( odd ) {
    background-color : #f5f5f5;
}

.url.item:hover {
    background-color : #def;
}

.url.val {
    display       : inline-block;
    white-space   : nowrap;
    width         : 90%;
    font-size     : 16px;
    text-overflow : ellipsis;
    overflow      : hidden;
}

