@charset "UTF-8";
html, body, #app, #app > div {
  height: 100%; }

[class^="c-icon"] {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: #f9fffc;
  background-color: #333032;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top; }

/* default text */
[class^="c-icon"]::before {
  content: "." attr(data-type);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*===========================================
                  .JS
=============================================*/
.c-icon-js {
  background-color: #f6b744; }

.c-icon-js::before {
  content: 'js'; }

/*===========================================
                  .CSS
=============================================*/
.c-icon-css {
  background-color: #3aa441; }

.c-icon-css::before {
  content: '{ : }'; }

/*===========================================
                  .HTML
=============================================*/
.c-icon-html {
  background-color: #f1725f; }

.c-icon-html::before {
  content: '</>'; }

/*===========================================
                  JSON
=============================================*/
.c-icon-json {
  font-size: 8px;
  background-color: #69d0d0; }

.c-icon-json::before {
  content: 'json'; }

/*===========================================
                  IMAGE
=============================================*/
.c-icon-img {
  background-color: #f1592a; }

.c-icon-img::before {
  content: 'img'; }

/*===========================================
                  Unknown
=============================================*/
.c-icon-other {
  background-color: #333032; }

.c-icon-other::before {
  content: 'ಠ_ಠ'; }

/**
    Header
*/
.toolbar {
  height: 15%;
  font-size: 14px;
  line-height: 36px;
  color: #fff; }
  .toolbar label {
    margin: 0 10px; }
    .toolbar label input {
      margin-left: 5px; }

.operate {
  padding: 10px 20px; }
  .operate span {
    color: #3e454d; }

.info {
  padding-left: 20px;
  background-color: #3e454d; }

/**
    buttons
*/
button {
  width: 60px;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background: #5e6771;
  color: #fff;
  cursor: pointer; }
  button:active {
    background-color: #3e454d; }
  button.prepare {
    background-color: #00aeef; }
  button.disabled {
    background-color: #ccc; }
  button.danger {
    background-color: #ff7d7e; }

/*
  Console
*/
.console-wrap, .console {
  height: 100%; }

.console .list {
  height: calc(100% - 32px);
  overflow: scroll; }

.console .line {
  position: relative;
  padding-left: 2px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  overflow: visible;
  outline: none;
  border-bottom: 1px solid #f0f0f0; }

.console .input {
  display: block;
  width: 99%;
  height: 25px;
  line-height: 25px;
  font-size: 16px; }

/**
    URL Area
*/
.url-area {
  height: 40%;
  margin: 10px; }
  .url-area .filter {
    height: 20px;
    margin-bottom: 3px; }
    .url-area .filter li {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      margin: 0 5px;
      padding: 0 10px;
      font-size: 15px;
      text-align: center;
      background-color: #eee;
      border-radius: 3px;
      cursor: pointer; }
      .url-area .filter li:hover {
        background-color: #e3e3e3; }
      .url-area .filter li.active {
        color: #fff;
        background-color: #699bd8; }
  .url-area .list {
    height: calc(100% - 30px);
    padding: 5px 5px 0;
    overflow: scroll;
    border: 1px solid; }

.url.item, .url.col-header {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  cursor: pointer; }

.url.item:nth-child(odd) {
  background-color: #f5f5f5; }

.url.item:hover {
  background-color: #def; }

.url.item.active {
  color: #fff;
  background-color: #699bce; }

.url.val {
  display: inline-block;
  white-space: nowrap;
  width: 90%;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden; }

.url .piece {
  display: inline-block;
  width: 18%;
  min-width: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .url .piece:first-child {
    width: 50px; }

/*
    URL Detail
*/
.detail-area {
  height: 40%;
  margin-top: 10px; }

.detail-table {
  height: 92%;
  margin: 10px 10px 0 10px;
  border: 1px solid; }

.tab {
  height: 20px;
  padding: 5px 5px 0 5px;
  border-bottom: 1px solid #ccc; }

.tab-item {
  display: inline-block;
  margin: 0 3px;
  padding: 5px 5px 0;
  vertical-align: bottom;
  border: 1px solid transparent;
  border-bottom: none;
  cursor: pointer; }
  .tab-item.active {
    border-color: currentColor; }

.tab-content {
  height: calc(100% - 35px);
  padding: 5px;
  overflow: scroll; }
  .tab-content section:not(:last-child) {
    border-bottom: 1px solid #ccc; }
  .tab-content .headers ul {
    margin: 2px 0 2px 1em; }
  .tab-content .headers li {
    color: #5a59ff; }
    .tab-content .headers li b {
      color: #CE2551; }
  .tab-content li {
    line-height: 16px;
    word-break: break-all;
    font-family: Menlo, sans-serif; }
  .tab-content b {
    font-family: sans-serif;
    font-size: 13px; }

.tab-content-item {
  display: none;
  position: relative;
  height: 100%;
  overflow: scroll; }
  .tab-content-item.active {
    display: block; }

.blank {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #b2b2b2; }

.show {
  display: block; }
