@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 12px;
  font-family: Arial;
  color: #3e454d;
  overflow: auto; }

html, body, #app, #app > div {
  height: 100%; }

h4 {
  font-size: 14px;
  font-weight: 600;
  margin: .3em 0; }

[class^="c-icon"] {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: #f9fffc;
  background-color: #333032;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top; }

/* default text */
[class^="c-icon"]::before {
  content: "." attr(data-type);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/*===========================================
                  .JS
=============================================*/
.c-icon-js {
  background-color: #f6b744; }

.c-icon-js::before {
  content: 'js'; }

/*===========================================
                  .CSS
=============================================*/
.c-icon-css {
  background-color: #3aa441; }

.c-icon-css::before {
  content: '{ : }'; }

/*===========================================
                  .HTML
=============================================*/
.c-icon-html {
  background-color: #f1725f; }

.c-icon-html::before {
  content: '</>'; }

/*===========================================
                  JSON
=============================================*/
.c-icon-json {
  font-size: 8px;
  background-color: #69d0d0; }

.c-icon-json::before {
  content: 'json'; }

/*===========================================
                  IMAGE
=============================================*/
.c-icon-img {
  background-color: #f1592a; }

.c-icon-img::before {
  content: 'img'; }

/*===========================================
                  Unknown
=============================================*/
.c-icon-other {
  background-color: #333032; }

.c-icon-other::before {
  content: 'ಠ_ಠ'; }

/**
    Header
*/
.toolbar {
  height: 15%;
  font-size: 14px;
  line-height: 36px;
  color: #fff; }
  .toolbar label {
    margin: 0 10px; }
    .toolbar label input {
      margin-left: 5px; }

.operate {
  padding: 10px 20px; }
  .operate span {
    color: #3e454d; }

.info {
  padding-left: 20px;
  background-color: #3e454d; }

/**
    buttons
*/
button {
  width: 60px;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background: #5e6771;
  color: #fff;
  cursor: pointer; }
  button:active {
    background-color: #3e454d; }
  button.prepare {
    background-color: #00aeef; }
  button.disabled {
    background-color: #ccc; }
  button.danger {
    background-color: #ff7d7e; }

/**
    URL Area
*/
.url-area {
  position: relative;
  height: 40%;
  margin: 10px; }
  .url-area .filter {
    height: 20px;
    margin-bottom: 3px; }
    .url-area .filter li {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      margin: 0 5px;
      padding: 0 10px;
      font-size: 15px;
      text-align: center;
      background-color: #eee;
      border-radius: 3px;
      cursor: pointer; }
      .url-area .filter li:hover {
        background-color: #e3e3e3; }
      .url-area .filter li.active {
        color: #fff;
        background-color: #699bd8; }
  .url-area .list {
    height: calc(100% - 60px);
    padding: 35px 5px 0;
    overflow: scroll;
    border: 1px solid; }

.url.item, .url.col-header {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  cursor: pointer; }

.url.col-header {
  position: absolute;
  width: 99%;
  left: 1px;
  top: 24px;
  z-index: 100;
  background-color: aliceblue; }

.url.item:nth-child(odd) {
  background-color: #f5f5f5; }

.url.item:hover {
  background-color: #def; }

.url.item.active {
  color: #fff;
  background-color: #699bce; }

.url.val {
  display: inline-block;
  white-space: nowrap;
  width: 90%;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden; }

.url .piece {
  display: inline-block;
  width: 18%;
  min-width: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .url .piece:first-child {
    width: 50px; }

/*
    URL Detail
*/
.detail-area {
  height: 40%;
  margin-top: 10px; }

.detail-table {
  height: 92%;
  margin: 10px 10px 0 10px;
  border: 1px solid; }

.tab {
  height: 20px;
  padding: 5px 5px 0 5px;
  border-bottom: 1px solid #ccc; }

.tab-item {
  display: inline-block;
  margin: 0 3px;
  padding: 5px 5px 0;
  vertical-align: bottom;
  border: 1px solid transparent;
  border-bottom: none;
  cursor: pointer; }
  .tab-item.active {
    border-color: currentColor; }

.tab-content {
  height: calc(100% - 35px);
  padding: 5px;
  overflow: scroll; }
  .tab-content section:not(:last-child) {
    border-bottom: 1px solid #ccc; }
  .tab-content .headers h4 {
    display: inline-block; }
  .tab-content .headers ul {
    margin: 2px 0 2px 1em; }
  .tab-content .headers li {
    color: #5a59ff; }
    .tab-content .headers li b {
      color: #CE2551; }
  .tab-content li {
    line-height: 16px;
    word-break: break-all;
    font-family: Menlo, sans-serif; }
  .tab-content b {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold; }

.tab-content-item {
  display: none;
  position: relative;
  height: 100%;
  overflow: scroll; }
  .tab-content-item.active {
    display: block; }
  .tab-content-item.active.preview {
    display: flex; }
  .tab-content-item img.preview {
    margin: auto; }

.blank {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #b2b2b2; }

.show {
  display: block; }

.encode-link {
  margin-left: 2em;
  color: #b1b1b1;
  text-decoration: none; }
  .encode-link:hover {
    color: #353472; }

.code {
  width: 100%; }

.hljs {
  background-color: #fff; }

.preview ul {
  margin-left: 1em; }

.preview b {
  font-weight: normal; }

.preview .key {
  color: #812a9b; }

.preview .number, .preview .boolean {
  color: #1000ce; }

.preview .string {
  color: #aa1d07; }
  .preview .string:before, .preview .string:after {
    content: '"'; }

.preview .object:before {
  content: '{'; }

.preview .object:after {
  content: '}'; }

.preview .array:before {
  content: "["; }

.preview .array:after {
  content: ']'; }

.preview .fold .object:before {
  content: '{...'; }

.preview .fold .array:before {
  content: '[...'; }

.folder-wrap .fa {
  display: none;
  cursor: pointer; }

.fold, .unfold {
  position: relative; }
  .fold > .fa, .unfold > .fa {
    display: block;
    position: absolute;
    top: 1px;
    left: -.6em;
    font-size: 14px; }

.unfold > .fa {
  left: -.8em; }

.fold > span > .folder-wrap {
  display: none; }

.unfold > span > .folder-wrap {
  display: block; }

/*
  Console
*/
.console-wrap, .console {
  height: 100%; }

.console .list {
  height: calc(100% - 32px);
  overflow: scroll; }

.console .line {
  position: relative;
  padding-left: 2px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  overflow: visible;
  outline: none;
  border-bottom: 1px solid #f0f0f0; }

.console .input {
  display: block;
  width: 99%;
  height: 25px;
  line-height: 25px;
  font-size: 16px; }
