$color : #3e454d;
$grayColor : #ccc;

@import "base";
@import "button";
@import "console";
@import "url";

/**
    Header
*/
.toolbar {
  height      : 15%;
  font-size   : 14px;
  line-height : 36px;
  color       : #fff;
}

.operate {
  padding : 10px 20px;
}

.operate span {
  color : $color;
}

.info {
  padding-left     : 20px;
  background-color : $color;
}


